/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.mainParentBoundedContainer {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  height: 100vh;
  width: 100vw;
  /* border-width: 5px; */
  /* border-color: green; */
  /* border-style: solid; */
  /* flex: 1; */
  /* height: 100%;
  width: 100%; */
 
}

/* 
  align items stretch works as expected 
  flex 1 also seems to work the same way but just not at the level of body and the just next child container
*/

.mainContentContainer {
  display: flex;
  /* flex:1; */
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  height: 90%;
  width: 90%;
  /* border: 5px; */
  /* width: 50vh;
  height: 50vh; */
}